
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a{
  text-decoration: 0;
}
body{
  background-color: #0c1930 ;
  font-family:'Courier New', Courier, monospace;
}
.nav-container{
  display: flex;
  width: auto;
  height: 65px;
  padding: 8px 30px;
  justify-content: space-between;
  border-bottom: 1px solid white;

}
.logo{
  background-color:white;
  width: 19px;
  height: 19px;
  margin-top: 14px;
  margin-left: 20px;
}
.logo a{
  display: flex;
  align-items: center;
  margin-left: 35px;
  font-weight: bold;
  font-size: 20px;
  color: white;
}
.button{
  background-color: #0800ff;
  color: white;
  border-radius: 20px;
  min-width: 84px;
  max-width: 480px;
  outline: none;
  border: none;
  padding: 16px 16px;
}
button:hover{
  background-color:white;
  color: #0800ff;

}
.nav-list{
  display: 0;
}
.nav-list ul{
  display: none;
}
.header-container{
  height: auto;
  padding: 20px 16px;
  width: auto;
}
.hero-container{
  height: auto;
  max-width: 960px;
}
.hero-background{
  display: flex;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url(./assets/bg-image/hero.png);
  height: 480px;
  width: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 12px;
  margin: 0px 16px;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.hero-title{
  text-align: center;
  color: white;
  width: 100%;
}
.hero-desc{
  text-align: center;
  color: white;
  width: 100%;
}
.hero-categories{
  padding-top: 20px;
  padding: 16px;
}
.hero-categories h1{
  color: white;
  font-size: bold;
  font-size: 22px;
  padding-top: 20px;
  font-weight: 700px;
  line-height: 28px;
  width: 348px;
  height: 48px;
}
.categories-card{
  display: flex;
  gap: 12px;
  margin:1px 16px;
}
.card-productifity{
  display: flex;
  flex-direction: column;
  width: 176px;
  height: 287px;
  gap: 12px;
  padding-bottom: 12px;
}
.card-productifity .card-image{
  background-image: url(./assets/bg-image/prod.png);
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  height: 176px;
  width: 176px;
}
.card-marketing{
  display: flex;
  flex-direction: column;
  width: 176px;
  height: 287px;
  gap: 12px;
  padding-bottom: 12px;
}
.card-marketing .card-image{
  background-image: url(./assets/bg-image/market.png);
  background-size: cover;
  background-position: center;
  flex-direction: row;
  border-radius: 20px;
  width: 176px;
  height: 176px;
}
.card-code{
  display: flex;
  flex-direction: column;
  width: 176px;
  height: 287px;
  gap: 12px;
  padding-bottom: 12px;
}
.card-code .card-image{
  background-image: url(./assets/bg-image/code.png);
  background-size: cover;
  background-position: center;
  flex-direction: row;
  border-radius: 20px;
  width: 176px;
  height: 176px;
}
.card-design{
  display: flex;
  flex-direction: column;
  width: 176px;
  height: 287px;
  gap: 12px;
  padding-bottom: 12px;
}
.card-design .card-image{
  background-image: url(./assets/bg-image/grapich.png);
  background-size: cover;
  background-position: center;
  flex-direction: row;
  border-radius: 20px;
  width: 176px;
  height: 176px;
}
.card-tools{
  display: flex;
  flex-direction: column;
  width: 176px;
  height: 287px;
  gap: 12px;
  padding-bottom: 12px;
}
.card-tools .card-image{
  background-image: url(./assets/bg-image/ai.png);
  background-size: cover;
  background-position: center;
  flex-direction: row;
  border-radius: 20px;
  width: 176px;
  height: 176px;
}
.card-text h1{
  color: white;
  font-size: 16px;
  font-weight: bold;
}
.card-text a{
  color: white;
  font-size: 14px;
}
.hero-feature{
  display: flex;
  color: white;
  padding-bottom: 12px;
  padding-top: 20px;
  padding: 0px 16px;
}
.hero-feature h1{
  color: white;
  font-size: bold;
  font-size: 22px;
  padding-top: 20px;
  font-weight: 700px;
  line-height: 28px;
  width: 348px;
  height: 48px;
}
.feature-card{
  color: white;
  flex-direction: column;
  padding: 16px;
}
.card-feature{
  display: flex;
  width: 360px;
  height: 256px;
  flex-direction: row;
  align-items: flex-start;
  gap: 12px;
}
.card-feature .card-image{
  background-image: url(./assets/bg-image/img3.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 176px;
  height: 256px;
  border-radius: 12px;
  flex-shrink: 0;
}
.card-feature h1{
  display: flex;
  font-size: 16px;
  padding-top: 20px;
}
.card-feature a{
  display: flex;
  font-size: 14px;
  word-spacing: 3px;
  padding: 20px 0px;
}
.button-more{
  padding: 10px 20px;
  border-radius: 20px;
  background-color: blue;
  outline: none;
  border: none;
  color: white;
  font-size: 16px;
}
.hero-tranding{
  color: white;
  width: auto;
  padding-bottom: 12px;
  padding-top: 20px;
  padding: 0px 16px;
}
.hero-tranding h1{
  color: white;
  font-size: bold;
  font-size: 22px;
  padding-top: 20px;
  font-weight: 700px;
  line-height: 28px;
  width: 348px;
  height: 48px;
}
.tranding-card{
  display: flex;
  width: 100%;
  height: 360px;
  padding: 16px;
  gap: 12px;
}
.card-ai{
  color: white;
  flex-direction: column;
  width: 223px;
  height: 334px;
  gap: 12px;
  padding-bottom: 12px;
}
.card-ai .card-image1{
  background-image: url(./assets/bg-image/ftr1.png);
  background-position: center;
  background-size: cover;
  width: 223px;
  height: 223px;
  border-radius: 12px;
}
.card-ai .card-image2{
  background-image: url(./assets/bg-image/ftr2.png);
  background-position: center;
  background-size: cover;
  width: 223px;
  height: 223px;
  border-radius: 12px;
}
.card-ai .card-image3{
  background-image: url(./assets/bg-image/ftr3.png);
  background-position: center;
  background-size: cover;
  width: 223px;
  height: 223px;
  border-radius: 12px;
}
.card-ai .card-image4{
  background-image: url(./assets/bg-image/ftr4.png);
  background-position: center;
  background-size: cover;
  width: 223px;
  height: 223px;
  border-radius: 12px;
}
.text-ai{
  width: 223px;
  height: 87px;
}
.text-ai h1{
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
}
.text-ai a{
  color: #919CC9;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0px;
}
.footer-container{
  padding: 40px 20px;
  width: auto;
  height: 200px;
}
.footer-grid ul{
  color: aliceblue;
  width: auto;
  height: 72px;
  display: grid;
  grid-template-columns: auto auto;
  list-style: none;
  padding: 0px 30px;
  min-width: 160px;
  justify-content: space-between;
}
.footer-grid ul li{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  font-style: normal;
}
.footer-sosmed{
  background-color: #0c1930;
  display: flex;
  justify-content: center;
  width: auto;
  height: 24px;
  margin: 20px;
  gap: 16px;
}
.footer-sosmed .image-ig{
  background-image: url(./assets/icon/Instagram.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}
.footer-sosmed .image-wa{
  background-image: url(./assets/icon/Whatsaapp.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}
.footer-sosmed .image-fb{
  background-image: url(./assets/icon/Facebook.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}
.footer-date{
  color: white;
  text-align: center;
  font-size: 16px;
  width: auto;
  height: 24px;
  font-weight: 400;
  line-height: 24px;
}


@media (min-width: 768px) {
  .nav-container{
    padding: 0px 20px;
    display: flex;
    width: auto;
    height: 65px;
    padding: 10px;
    justify-content: space-between;
    border-bottom: 1px solid white;
  }
 .logo{
    background-color:white;
    width: 19px;
    height: 19px;
    margin-top: 14px;
    margin-left: 20px;
}
  .logo a{
    display: flex;
    align-items: center;
    margin-left: 35px;
    font-weight: bold;
    font-size: 20px;
    color: white;
}
  .nav-list{
    display: flex;
    gap: 36px;
  }
  .nav-list ul{
    color: white;
    display: flex;
    align-items: center;
    list-style: none;
    gap: 36px; 
  }
  .list-text li .a{
    color: white;
  }
  .button{
    background-color: #0800ff;
    color: white;
    border-radius: 20px;
    text-align: center;
    min-width: 84px;
    max-width: 480px;
    outline: none;
    border: none;
  }
  .header-container{
    display: flex;
    padding: 20px 160px;
    height: auto;
    width: auto;
  }
  .hero-container{ 
    display:flex;
    flex-direction: column; 
    width: auto;  
}
  .hero-background{
    display: flex;
    width: auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./assets/bg-image/hero.png);
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    padding: 16px;
  }
  .hero-title{
    text-align: center;
    color: white;
  }
  .hero-desc{
    text-align: center;
    color: white;
    width: 100%;
  }
  .hero-categories{
    padding-top: 20px;
    padding: 16px;
  }
  .hero-categories h1{
    color: white;
    font-size: bold;
    font-size: 22px;
    padding-top: 20px;
    font-weight: 700px;
    line-height: 28px;
    width: 348px;
    height: 48px;
  }
  .categories-card{
    display: flex;
    padding: 5px;
    gap: 9px;
  }
  .card-productifity{
    display: flex;
    flex-direction: column;
    width: 176px;
    height: 287px;
    gap: 12px;
    padding-bottom: 12px;
  }
 
  .card-productifity .card-image{
    background-image: url(./assets/bg-image/prod.png);
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    height: 176px;
    width: 176px;
  }
  .card-marketing{
    display: flex;
    flex-direction: column;
    width: 176px;
    height: 287px;
    gap: 12px;
    padding-bottom: 12px;
  }
  .card-marketing .card-image{
    background-image: url(./assets/bg-image/market.png);
    background-size: cover;
    background-position: center;
    flex-direction: row;
    border-radius: 20px;
    width: 176px;
    height: 176px;
  }
  .card-code{
    display: flex;
    flex-direction: column;
    width: 176px;
    height: 287px;
    gap: 12px;
    padding-bottom: 12px;
  }
  .card-code .card-image{
    background-image: url(./assets/bg-image/code.png);
    background-size: cover;
    background-position: center;
    flex-direction: row;
    border-radius: 20px;
    width: 176px;
    height: 176px;
  }
  .card-design{
    display: flex;
    flex-direction: column;
    width: 176px;
    height: 287px;
    gap: 12px;
    padding-bottom: 12px;
  }
  .card-design .card-image{
    background-image: url(./assets/bg-image/grapich.png);
    background-size: cover;
    background-position: center;
    flex-direction: row;
    border-radius: 20px;
    width: 176px;
    height: 176px;
  }
  .card-tools{
    display: flex;
    flex-direction: column;
    width: 176px;
    height: 287px;
    gap: 12px;
    padding-bottom: 12px;
  }
  .card-tools .card-image{
    background-image: url(./assets/bg-image/ai.png);
    background-size: cover;
    background-position: center;
    flex-direction: row;
    border-radius: 20px;
    width: 176px;
    height: 176px;
  }
  .card-text h1{
    color: white;
    font-size: 16px;
    font-style: medium;
    line-height: 24px;
  }
  .card-text a{
    color: #919CC9;
    font-size: 14px;
    line-height: 21px;
  }
  .hero-feature{
    display: flex;
    color: white;
    padding-bottom: 12px;
    padding-top: 20px;
    padding: 0px 16px;
  }
  .feature-card{
    color: white;
    flex-direction: column;
    padding: 16px;
  }
  .hero-feature h1{
    color: white;
    font-size: bold;
    font-size: 22px;
    padding-top: 20px;
    font-weight: 700px;
    line-height: 28px;
  }
  .card-feature{
    display: flex;
    width: 928px;
    height: 256px;
    flex-direction: row;
    align-items: flex-start;
    gap: 12px;
  }
  .card-feature .card-image{
    background-image: url(./assets/bg-image/img3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 410px;
    height: 256px;
    border-radius: 12px;
    flex-shrink: 0;
  }
  .text-feature h1{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    padding-top: 20px;
  }
  .text-feature a{
    text-align: start;
    color: #919CC9;
    display: flex;
    font-size: 14px;
    word-spacing: 3px;
    margin-right:168px;
  }
  .button-more{
    padding: 10px 20px;
    border-radius: 20px;
    background-color: blue;
    outline: none;
    border: none;
    color: white;
    font-size: 16px;
  }
  .tranding-card{
    display: flex;
    width: 100%;
    height: 360px;
    padding: 16px;
    gap: 12px;
  }
  .card-ai{
    color: white;
    flex-direction: column;
    width: 223px;
    height: 334px;
    gap: 12px;
    padding-bottom: 12px;
  }
  .card-ai .card-image1{
    background-image: url(./assets/bg-image/ftr1.png);
    background-position: center;
    background-size: cover;
    width: 223px;
    height: 223px;
    border-radius: 12px;
  }
  .card-ai .card-image2{
    background-image: url(./assets/bg-image/ftr2.png);
    background-position: center;
    background-size: cover;
    width: 223px;
    height: 223px;
    border-radius: 12px;
  }
  .card-ai .card-image3{
    background-image: url(./assets/bg-image/ftr3.png);
    background-position: center;
    background-size: cover;
    width: 223px;
    height: 223px;
    border-radius: 12px;
  }
  .card-ai .card-image4{
    background-image: url(./assets/bg-image/ftr4.png);
    background-position: center;
    background-size: cover;
    width: 223px;
    height: 223px;
    border-radius: 12px;
  }
  .text-ai{
    width: 223px;
    height: 87px;
  }
  .text-ai h1{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
  }
  .text-ai a{
    color: #919CC9;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0px;
  }
  .footer-container{
    display: flex;
    padding: 20px 160px;
    height: auto;
    width: auto;
  }
  .footer-grid{
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  .footer-grid ul{
    display: flex;
    flex-direction: row;
    color: aliceblue;
    height: 72px;
    list-style: none;
    padding: 0px 80px;
    min-width: 160px;
    justify-content: space-between;
  }
  .footer-grid ul li{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    font-style: normal;
  }
  .footer-sosmed{
    display: flex;
    justify-content: center;
    width: auto;
    height: 24px;
    margin: 20px;
    gap: 16px;
  }
  .footer-sosmed .image-ig{
    background-image: url(./assets/icon/Instagram.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
  }
  .footer-sosmed .image-wa{
    background-image: url(./assets/icon/Whatsaapp.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 10px;
    width: 24px;
    height: 24px;
  }
  .footer-sosmed .image-fb{
    background-image: url(./assets/icon/Facebook.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
  }
  .footer-date{
    color: white;
    text-align: center;
    font-size: 16px;
    width: auto;
    height: 24px;
    font-weight: 400;
    line-height: 24px;
  }

}